$color: rgb(50,50,50);
$color-fade: rgb(180,180,180);
$border-color: rgb(220,220,220);
$border-color-on-hover: rgb(180,180,180);
$progress-color: #2BDE73;


md-card{
  line-height:2em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin: 20px;
  float: left;
}

@keyframes example {
    from {width: 0;}
    to {}
}


.card__progress {
  position: relative;
  width: 100%;
  height: 10px;
  margin: 0.6rem 0 0.4rem 0;
  border: 1px solid;
  border-color: $border-color;
  border-radius: 2px;
}

.card__progress span {
  position: relative;
  display: block;
  width: 35%;
  height: 10px;
  background: $progress-color;
  transition: 0.2s all ease-in-out;
  animation-name: example;
  animation-duration: 1s;
}

.colum_left{
  width: 70%;
  float: left;
}

.colum_right{
  width: 30%;
  padding-top: 0px;
  float: right;
}

.back_button{
  width: 100%;
  margin-bottom:10px;
}

.share_button{
  padding: 0px;
  width: 150px;
  margin-top:10px;
}

.project__header-image {
  height: 100%;
  width: 100%;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s all;
}
