img {
	margin-right:50%;
}
md-card{
	height:100%;
line-height:2em;
}
-progress-bar {
  background-color: red;
}

.project__header-image {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s all;
}

