
<md-card>
      <md-list class="app-list">
        <md-list-item >
          <h1 md-line>Barbelo Project</h1>
          <p md-line class="demo-secondary-text"> Refurbishing School</p>
          
          <br><br/>
          <br><br/>
          <body>
          	<label><img src="https://www.ryefieldprimary.org.uk/hillingdon/primary/ryefield/arenas/websiteonly/web/web4.jpg?scale=MAXSIZE&height=420&modified=1" alt="school" style="height:100px;"></label>
          	
         <div id="pic"><md-card>

         <label>
        Donations - 50%
        <md-progress-bar
            class="app-progress"
            color="accent"
            mode="determinate"

            [value]="50"
            aria-label="Determinate progress-bar example"></md-progress-bar>
      </label></md-card></div>
      <p></p>


  </body>
        </md-list-item>
      </md-list>

