
   <md-card>
    <md-input-container class="small-width">
     <input mdInput placeholder="Project Title">
    </md-input-container>
   </md-card>
   <md-card>
    <md-select class="small-width" placeholder="Category" name="category">
     <md-option>Volunteering</md-option>
     <md-option>Technology</md-option>
     <md-option>Education</md-option>
   </md-select>
   </md-card>
   <md-card>
    <md-input-container class="long-width">
      <textarea mdInput rows="10" placeholder="Description"></textarea>
    </md-input-container>
   </md-card>

   <button md-raised-button type="submit">Submit</button>
