

 <md-card class="login">
   <h1>Login</h1>
   <form role="form" (submit)="login(email.value, password.value)">
   <md-card class="app-input-section form-group">
     <md-input-container>
      <input mdInput type="text" #email class="form-control" placeholder="Email">
     </md-input-container>
   </md-card>
   <md-card class="app-input-section form-group">
    <md-input-container>
     <input mdInput type="password" #password class="form-control" placeholder="Password">
    </md-input-container>
   </md-card>
   <button md-raised-button type="submit">Submit</button>
     <md-card>
     <a [routerLink]="['/register']">Click here to sign up</a>
     </md-card>
 </form>
 </md-card>