<md-card>
      <div class="colum_left">
            <h2 md-line>Jamie Harkins</h2>
            <h3 md-line>Updates</h3>
      </div>
      <div class="colum_right">
            <br>
            <h3 md-line>My Projects</h3>
            <div class="card">
            <app-card class="card" [amount]=2 [columns]=2></app-card>
            </div>
            <button md-raised-button color="accent">View all</button>
            <h3 md-line>Projects You Love</h3>
            <div class="card">
            <app-card class="card" [amount]=2 [columns]=2></app-card>
            </div>
            <button md-raised-button color="accent">View all</button>
      </div>
</md-card>
