/* You can add global styles to this file, and also import other style files */


@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

// Grid

/*
 * A simple 6 column, responsive grid.
 */

$width-small:  512px;
$width-medium: 768px;
$width-large:  1024px;

@mixin on-small {
  @media (min-width: $width-small) {
    @content;
  }
}

@mixin on-medium {
  @media (min-width: $width-medium) {
    @content;
  }
}

@mixin on-large {
  @media (min-width: $width-large) {
    @content;
  }
}

[class*="grid-"] {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
}

[class*="grid-"] > *{
  position: relative;
  box-sizing: border-box;
  padding: 10px 10px;
}

// Small

@include on-small {

  .grid-on-small__1-col > *,
  .grid-on-small__1-cols > * {
    width: 50%;
  }

  .grid-on-small__2-cols > * {
    width: 50%;
  }

  .grid-on-small__3-cols > * {
    width: 33.333333%;
  }

  .grid-on-small__4-cols > * {
    width: 25%;
  }

  .grid-on-small__5-cols > * {
    width: 20%;
  }

  .grid-on-small__6-cols > * {
    width: 16.666666%;
  }

}

// Medium

@include on-medium {

  .grid-on-medium__1-col > *,
  .grid-on-medium__1-cols > * {
    width: 50%;
  }

  .grid-on-medium__2-cols > * {
    width: 50%;
  }

  .grid-on-medium__3-cols > * {
    width: 33.333333%;
  }

  .grid-on-medium__4-cols > * {
    width: 25%;
  }

  .grid-on-medium__5-cols > * {
    width: 20%;
  }

  .grid-on-medium__6-cols > * {
    width: 16.666666%;
  }

}

// Large

@include on-large {

  .grid-on-large__1-col > *,
  .grid-on-large__1-cols > * {
    width: 50%;
  }

  .grid-on-large__2-cols > * {
    width: 50%;
  }

  .grid-on-large__3-cols > * {
    width: 33.333333%;
  }

  .grid-on-large__4-cols > * {
    width: 25%;
  }

  .grid-on-large__5-cols > * {
    width: 20%;
  }

  .grid-on-large__6-cols > * {
    width: 16.666666%;
  }

}
