
<div class="button-group filters-button-group">
  <button md-raised-button class="button is-checked" data-filter="*">Show All</button>
  <button md-raised-button class="button" data-filter=".Volunteering">Volunteering</button>
  <button md-raised-button class="button" data-filter=".Technology">Technology</button>
  <button md-raised-button class="button" data-filter=".Innovation">Innovation</button>
  <button md-raised-button class="button" data-filter=".Community">Community</button>
  <button md-raised-button class="button" data-filter=".Medical">Medical</button>
</div>

  <app-card></app-card>